.container{
    display: flex;
}

.blogpost { 
    flex-grow: 1;
    width: 100px; 
    border: 1px solid black; 
}

.item3 {
    flex-grow: 2; /* default 0 */
    align-self: center;
    color: red;
  }

.item4 {
    flex-grow: 3; /* default 0 */
    align-self: flex-end;
    color: blue;
  }
